* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(230, 255, 43, 1);
}

a:visited {
    color: rgba(255, 255, 255, 1);
}

body {
    background: transparent;
    padding-bottom: 64px;
    background: rgb(6, 53, 62);
}


.header {
    display: flex;
    position: relative;
    width: 100%;
}

.rightanglebracket {
    display: inline-block;
    padding-top: 4rem;
    padding-left: 4rem;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: 500;
}

.navigation-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;

}

.navigation-list {
    display: flex;
    justify-content: center;
    gap: 2.5625rem;
    top: 45px;
}

.Home-Container{
    border-bottom : solid 2px white;

}
.navigation {
    display: flex;
    list-style: none;
    margin-left: 0;
}

.status-container{
    position: absolute;
    display: flex;
    top: 28.125rem;
    left: 7.8125rem;
}
#status-label {
    color: white;
    font-family: "Intel One Mono";
    font-size: 20px;
}

#status-widget {
    font-family: "Intel One Mono", monospace;
    font-size: 20px;
}

#status-widget.code {
    color: rgb(173, 255, 47);
}

#clock {
    color: #BEBEBE;
    position: absolute;
    font-family: "Intel One Mono", monospace;
    font-size: 20px;
    top: 1.5rem;
    right: 6.25rem;
}



.github-icon {
    position: absolute;
    top: 4rem;
    right: 200px;
    cursor: pointer;
}

.github-icon.hovered {
    animation-name: spin-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    fill: #E6FF2B;
}

.github-icon.unhovered {
    animation-name: spin-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}



#open-terminal-button {
    position: absolute;
    top: 4rem;
    right: 100px;
    cursor: pointer;
}


#open-terminal-button.hovered {
    animation-name: spin-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#open-terminal-button.unhovered {
    animation-name: spin-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


#open-terminal-button.opened {
    animation-name: spin-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes spin-in {
    0% {
        transform: rotate(0deg);
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1.2;
        transform: rotate(15deg);
    }
}

@keyframes spin-out {
    0% {
        scale: 1.2;
        transform: rotate(15deg)
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.introduction-container {
    width: 100%;
    display: flex;
    height: 15.3125rem;

}

.name-container {
    display: flex;
    padding-top: 1.1rem;
    width: 36.8125rem;
    padding-left: 7.8125rem;
}

#Name {
    align-self: top;
    color: rgba(230, 255, 43, 1);
    font-family: "Intel One Mono";
    font-size: 96px;
}

.detail-container {
    width: 58.375rem;
    display: flex;
    display: flex;
    padding-top: 2.7125rem;
    justify-content: center;
}


#detail {
    font-family: "Recursive", sans-serif;
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CASL" 1,
        "CRSV" 0.5,
        "MONO" 1;
}

.highlighted-text {
    color: rgba(230, 255, 43, 1);
}

.rntask-container {
    position: relative;
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 7.1875rem;
    display: flex;
    flex-direction: column;
}

.rntask-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8rem;
    width: 40rem;
    height: .0625rem;
    background: linear-gradient(90deg, white, white);
}

.rntask-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 6rem;
    width: 30rem;
    height: 0.0625rem;
    background: linear-gradient(90deg, white, white);
}

#rnTaskLabel {
    font-family: "Intel One Mono";
    font-size: 28px;
    color: rgba(230, 255, 43, 1);
    margin-bottom: 1rem;
}

.rnTask {
    margin-top: .5rem;
    margin-left: 2.5625rem;
    font-family: "Intel One Mono";
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

footer {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-label {
    color: white;
}

#contact-logos {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.contact-logo {
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
}

.contact-logo:hover {
    fill: #E6FF2B;
    transform: scale(1.2);
}



#terminal-container {
    position: absolute;
    width: 444px;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

#terminal-container.active {
    opacity: 1;
    pointer-events: auto;
}

#terminal-top-container {
    position: relative;
    display: flex;
    width: 444px;
    height: 38px;
    background: white;
    border: solid 2 white;
}

.terminal-logo-detail {
    position: absolute;
    top: 0;
    left: 0;
}

.terminal-logo {
    position: absolute;
    top: 9px;
    left: 4px;
}

.terminal-logo-label {
    position: absolute;
    top: 10px;
    left: 43px;
    font-family: "Intel One Mono";
    font-size: 16px;
    font-weight: bold;
}

.X-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    padding-right: 24px;
    cursor: pointer;

}

#X {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

#terminal-output {
    width: 444px;
    height: 282px;
    background: black;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-top: none;
    border-bottom: none;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: auto;

}

.command-start-arrow {
    display: inline-block;
    width: 1rem;
    height: 1.5rem;
    border-left: solid 2px white;
    border-top: none;
    border-bottom: solid 2px white;

}

#command {
    display: inline-block;
    width: 100%;
    height: 24px;
    background: black;
    outline: none;
    border-top: none;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;

    font-family: "Intel One Mono", monospace;
    font-size: 16px;
    font-weight: bold;
    padding-left: 6px;


}

#command:focus {
    width: 444px;
    height: 24px;
    outline: none;

}

.terminal-line {
    font-family: monospace;
    font-size: 13px;
    padding: 2px 8px;
    white-space: pre-wrap;
    color: rgba(230, 255, 43, 1);
   
}

.terminal-line.output {
    color: #cccccc;
    
}

.terminal-line.input {
    color: rgba(230, 255, 43, 1);
  
}

.terminal-line.error {
    color: #ff5555;
}

.terminal-line.cmdclk {
    color: rgba(184, 245, 1, 1);
    cursor: pointer;

}

.terminal-line:hover {
    color: white;
}